# Environment files
.env
.env.*
**/.env
**/.env.*
**/.env.local
**/.env.development
**/.env.production

# Dependencies
node_modules/
**/node_modules/

# Logs
*.log
npm-debug.log*

# Others
.DS_Store
dist/
build/
.vercel